services:
  database:
    container_name: erp-database
    image: postgres:18.1-bookworm
    env_file:
      - .env
    ports:
      - "5432:5432"
  backend:
    container_name: erp-backend
    build:
      target: development
      context: backend
      dockerfile: Dockerfile
    volumes:
      - ./backend/src:/app/src
      - ./backend/prisma:/app/prisma
    env_file:
      - .env
    depends_on:
      - database
  frontend:
    container_name: erp-frontend
    build:
      target: development
      context: frontend
      dockerfile: Dockerfile
    volumes:
      - ./frontend/src:/app/src
    ports:
      - "5173:5173"
