services:
  database:
    container_name: erp-database
    image: postgres:18.1-bookworm
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/18/docker
  backend:
    container_name: erp-backend
    build:
      target: development
      context: backend
      dockerfile: Dockerfile
    volumes:
      - ./backend/src:/app/src
      - ./backend/migrations:/app/migrations
    env_file:
      - .env
    ports:
      - "3000:3000"
    depends_on:
      - database
  minio:
    image: minio/minio
    container_name: erp-minio
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    command: server /data --console-address ":9001"
    volumes:
      - minio_data:/data
  frontend:
    container_name: erp-frontend
    build:
      target: development
      context: frontend
      dockerfile: Dockerfile
    volumes:
      - ./frontend/src:/app/src
    # environment:
    #   - VITE_API_URL=http://backend:3000
    ports:
      - "5173:5173"
volumes:
  pgdata:
  minio_data:
